<!DOCTYPE html>
<html lang="ru">
<html>
<head>
    <meta charset="UTF-8">
    <title>Make order</title>
    <link rel="stylesheet" href="/front/styles/main.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #333;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Каталог:</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Is New</th>
        <th>Brand</th>
        <th>Engine</th>
        <th>Color</th>
        <th>Transmission</th>
        <th>Body</th>
        <th>Price</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.Name}}</td>
        <td>{{if .IsNew}}Yes{{else}}No{{end}}</td>
        <td>{{.Brand}}</td>
        <td>{{.Engine}}</td>
        <td>{{.Color}}</td>
        <td>{{.Transmission}}</td>
        <td>{{.Body}}</td>
        <td>{{.Price}}</td>
    </tr>
    {{end}}
</table>
<br>
</body>
</html>